@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,500;1,700&display=swap");

:root {
	--primary-color: #212124;
	--text-color: #e4e6eb;
	--secondary-color: #3a3b3c;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

* body {
	font-family: "Roboto", sans-serif;
	background-color: var(--primary-color);
	color: var(--text-color);
	line-height: 1.6;
	font-size: 1rem;
	position: relative;
}

/* .container {
	max-width: 1250px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
} */

input {
	line-height: 0.8;
	width: 65vw;
	font-size: 1.5rem;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	color: white;
	outline: none;
	border: none;
	padding: 0 10px;
}

input.emoji {
	height: 3.75rem;
	padding: 1.5rem 0.5rem;
	font-size: 3rem;
}

button {
	background-color: #282c34;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 1.25rem;
}

.grid {
	display: grid;
	grid-template-columns: 25% 75%;
}

.searchbox {
	display: block;
	width: 100%;
	padding: 15px;
	border: none;
	outline: none;
	background: none;
	background-color: #3a3b3c;
	border-radius: 8px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;

	transition: 0.4s ease-out;
}

.searchbox:focus {
	box-shadow: 0px 0px 8px 3px #4484c4;
}

.emoji-container {
	position: absolute;
	bottom: 1rem;
	left: 4rem;
}

.card {
	overflow: auto;
	background-color: rgba(33, 33, 36, 1);
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	padding: 0 1rem;
	padding-right: 0.1rem;
	padding-bottom: 0;
	margin: 10px;
}

.emoji-card {
	width: 23rem;
	height: 21rem;
}

.card .searchbox {
	width: 95%;
	height: 2rem;
	font-size: 1rem;
	margin-bottom: 1rem;
	margin-top: 1.1rem;
}

.card .scroll-text {
	position: absolute;
	top: 0.58rem;
	padding: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 0;
	margin-top: 0;
	background-color: #212124;
	width: 88%;
	font-size: 0.7rem;
	letter-spacing: 2px;
	color: #adb2b6;
}

.emojis .FLAGS {
	padding-bottom: 1.2rem;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.card-container {
	position: relative;
}

.emoticons {
	height: 2rem;
	position: absolute;
	width: 90%;
	top: 19.68rem;
	background-color: rgb(33, 33, 36);
}

.card .emojis {
	margin-top: 1rem;
}

.card .emojis > div > p {
	font-size: 0.8rem;
	color: #adb2b6;
	letter-spacing: 2px;
}

.emoticons a {
	padding: 0.2rem;
	padding-bottom: 0;
}

.emoticons a.current svg {
	fill: #4484c4;
}

.card .flex p {
	font-size: 1.5rem;
	cursor: pointer;
	padding: 0.3rem;
}

.flex p {
	padding: 0.2rem;
}

.contacts {
	background-color: #212124;
	border-right: 1px solid #282c34;
	margin: 1rem;
	min-width: none;
	margin-left: 0.5rem;
	margin-right: 0;
	padding-right: 0.3rem;
	height: 98vh;
	overflow-y: scroll;
	position: relative;
}

.contact-header {
	justify-content: space-between;
	margin-top: 1rem;
}

.contact-header img {
	margin-top: 0.4rem;
}

.contact-header .svg-container {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	background-color: var(--secondary-color);
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
}

.contact-header .svg-container:hover {
	background-color: #4f5255;
}

.contacts .profile-card {
	position: absolute;
	z-index: 1;
	top: 4rem;
	right: 1.5rem;
	color: #adb2b6;
	width: fit-content;
	background-color: rgb(41, 41, 44);
	height: auto;
	padding: 0 0.5rem;
	cursor: text;
}

.contacts .profile-card img {
	height: 2.5rem;
	margin: 0.5rem;
	margin-left: 0;
}

.contacts .profile-card p {
	font-size: 1rem !important;
}

.contacts .profile-card .profile-head {
	border-bottom: 1px solid #4b4e50;
	padding: 1rem;
	width: fit-content;
	align-items: center;
	flex-wrap: nowrap;
	padding-bottom: 0.2rem;
}

.contacts .profile-card .signout {
	padding: 1rem;
	align-items: center;
	justify-content: space-evenly;
	cursor: pointer;
}

.contacts .profile-card .signout svg {
	margin-right: 1.5rem;
}

.new-card {
	position: absolute;
	top: 30%;
	left: 40%;
	width: 30rem;
	background-color: rgb(41, 41, 44);
	text-align: center;
	color: #adb2b6;
	height: auto;
	padding: 0.5rem 0.5rem;
	padding-left: 1.5rem;
	padding-bottom: 1.5rem;
	margin-bottom: 0;
	cursor: text;
	z-index: 1;
}

.new-card form {
	padding-left: 0.5rem;
}

.new-card .error-container {
	width: 100%;
}

.new-card form #search-error {
	font-size: 0.9rem;
	display: flex;
	flex-direction: column;
}

.new-card form #search-error {
	text-align: start;
}

.new-card .modal-btn {
	margin-top: 1rem;
	margin-right: 0.6rem;
	display: flex;
	align-self: flex-end;
}

.new-card form #search-error #mail-btn {
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	background-color: #4484c4;
	border-radius: 0.4rem;
	margin: 0.5rem;
	margin-bottom: 0;
	align-self: center;
}

.new-card form #search-error #mail-btn:hover {
	background-color: #1982fc;
}

.new-card form #search-error #cancel-btn {
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	background-color: transparent;
	color: #1982fc;
	border-radius: 0.4rem;
	margin: 0.5rem;
	margin-bottom: 0;
	align-self: center;
}

.new-card form #search-error #cancel-btn:hover {
	background-color: #282c34;
}

.contacts form {
	padding-left: 0.2rem;
}

.contacts form #search-error {
	font-size: 0.9rem;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.contacts form #search-error button {
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	background-color: #4484c4;
	border-radius: 0.4rem;
	margin: 0.5rem;
	margin-bottom: 0;
	align-self: center;
}

.contacts form #search-error button:hover {
	background-color: #1982fc;
}

.contacts .searchbox {
	height: 2rem;
	width: 95%;
	margin: 1rem;
	margin-left: 0;
}

.input-container {
	background-color: rgb(41, 41, 44);
	position: relative;
	overflow: visible;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	padding-top: 0.2rem;
	border-top: 1px solid #4b4e50;
}

.input-container form.flex {
	flex-wrap: nowrap;
	align-items: flex-start;
	margin-top: 0.2rem;
}

.input-container form.flex button {
	background-color: transparent;
	border: none;
	padding: 1rem;
	padding-top: 0.3rem;
	margin-left: 0.5rem;
}

.input-container > svg {
	margin: 1rem;
	margin-top: 0.4rem;
	margin-right: 0;
}

.input-container .emoticons svg {
	margin: 1rem 0.25rem;
	margin-top: 0.1rem;
}

.message-list {
	cursor: pointer;
	margin: 0.5rem;
	margin-left: 0;
}

.contacts img,
.users-list img {
	background-color: #b0b3b8;
	height: 3rem;
	width: auto;
	border-radius: 50%;
}

.contacts .group-chat,
.users-list,
.contacts .single-chat {
	margin-bottom: 0.1rem;
	border-bottom: 1px solid #282c34;
}

.contacts .group-chat .flex,
.users-list .flex,
.contacts .single-chat .flex {
	flex-wrap: nowrap;
}

.contacts .chat-img,
.users-list .chat-img {
	margin: 0.5rem;
	margin-top: 0.6rem;
}

.group-chat:hover,
.users-list:hover,
.single-chat:hover {
	background-color: var(--secondary-color);
	border-radius: 7px;
}

.contacts .group-chat .group-title,
.users-list .chat-email,
.contacts .single-chat .chat-email {
	display: flex;
	align-items: center;
}

.contacts .group-chat .group-title p,
.users-list .chat-email p,
.contacts .single-chat .chat-email p {
	font-size: 1rem;
	font-weight: 300;
}

.contacts .group-chat .onChat,
.contacts .single-chat .onChat {
	background-color: #282c34;
	border-radius: 7px;
}

.contacts .group-chat .onChat p,
.contacts .single-chat .onChat p {
	font-weight: 500 !important;
}
