@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,500;1,700&display=swap");

:root {
	--primary-color: #212124;
	--text-color: #e4e6eb;
	--secondary-color: #3a3b3c;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* overflow: hidden; */
}

* body {
	font-family: "Roboto", sans-serif;
	background-color: var(--primary-color);
	color: var(--text-color);
	line-height: 1.6;
	font-size: 1rem;
}

input {
	line-height: 0.8;
	width: 65vw;
	font-size: 1.5rem;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	color: white;
	outline: none;
	border: none;
	padding: 0 10px;
}

input.emoji {
	line-height: 1;
	font-size: 3rem;
}

button {
	background-color: #282c34;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 1.25rem;
}

.grid {
	display: grid;
	grid-template-columns: 25% 75%;
}

.searchbox {
	display: block;
	width: 100%;
	padding: 15px;
	border: none;
	outline: none;
	background: none;
	background-color: #3a3b3c;
	border-radius: 8px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;

	transition: 0.4s ease-out;
}

.searchbox:focus {
	box-shadow: 0px 0px 8px 3px #4484c4;
}

.card {
	width: 23rem;
	height: 21rem;
	overflow: auto;
	background-color: rgba(33, 33, 36, 1);
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	padding: 0 1rem;
	padding-right: 0.1rem;
	padding-bottom: 0;
	margin: 10px;
}

.card .searchbox {
	width: 95%;
	height: 2rem;
	font-size: 1rem;
	margin-bottom: 1rem;
	margin-top: 1.1rem;
}

.card .scroll-text {
	position: absolute;
	top: 0.65rem;
	padding: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 0;
	margin-top: 0;
	background-color: #212124;
	width: 85.5%;
	font-size: 0.7rem;
	letter-spacing: 2px;
	color: #adb2b6;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.card-container {
	position: relative;
}

.emoticons {
	height: 2rem;
	position: absolute;
	width: 90%;
	top: 19.68rem;
	background-color: rgb(33, 33, 36);
}

.card .emojis {
	margin-top: 1rem;
}

.card .emojis > div > p {
	font-size: 0.8rem;
	color: #adb2b6;
	letter-spacing: 2px;
}

.emoticons a {
	padding: 0.2rem;
	padding-bottom: 0;
}

.emoticons a.current svg {
	fill: #4484c4;
}

.card .flex p {
	font-size: 1.5rem;
	cursor: pointer;
}

.flex p {
	padding: 0.2rem;
}

.contacts {
	background-color: #212124;
	border-right: 1px solid #282c34;
	margin: 1rem;
	margin-left: 0.5rem;
	margin-right: 0;
	padding-right: 0.3rem;
	overflow: visible;
}

.contact-header {
	justify-content: space-between;
}

.contact-header img {
	margin-top: 0.4rem;
}

.contact-header .svg-container {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	background-color: var(--secondary-color);
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
}

.contact-header .svg-container:hover {
	background-color: #4f5255;
}

.contact-header svg {
	fill: var(--text-color);
}

.contacts form {
	padding-left: 0.2rem;
}

.contacts .searchbox {
	height: 2rem;
	width: 95%;
	margin: 1rem;
	margin-left: 0;
}

.input-container svg {
	margin: 1rem 0.25rem;
	margin-top: 0.1rem;
}

.message-list {
	cursor: pointer;
	margin: 0.5rem;
	margin-left: 0;
}

.contacts img {
	background-color: #b0b3b8;
	height: 3rem;
	width: auto;
	border-radius: 50%;
}

.contacts .group-chat,
.contacts .single-chat {
	margin-bottom: 0.1rem;
	border-bottom: 1px solid #282c34;
}

.contacts .group-chat .flex,
.contacts .single-chat .flex {
	flex-wrap: nowrap;
}

.contacts .chat-img {
	margin: 0.5rem;
	margin-top: 0.6rem;
}

.group-chat:hover,
.single-chat:hover {
	background-color: var(--secondary-color);
	border-radius: 7px;
}

.contacts .group-chat .group-title,
.contacts .single-chat .chat-email {
	display: flex;
	align-items: center;
}

.contacts .group-chat .group-title p,
.contacts .single-chat .chat-email p {
	font-size: 1rem;
	font-weight: 300;
}

.contacts .onChat {
	background-color: #282c34;
	border-radius: 7px;
}
